<center class="step">
  <div class="step_number"><%= num %></div>
  <div class="image">
    <img src="<%- url_for("/images/" + id + '/' + img) %>" class="<%= imgClass %>"/>
  </div>
  <b class="title"><%= title %></b>
  <div class="description"><%- description %></div>
</center>